#saku{
	width: 100%;
        
}
#zengo{
	width: 100%;
        
}


#pt1{
	width: 100%;
        
}	


#pt2{
	width: 100%;
        
}	




#index{
	width: 40px;
        position:absolute;
        bottom:0px;
        right:60px;

}	
#back{
	width: 40px;
        position:absolute;
        bottom:0px;
        right:7px;
}
	


#fb{
	width: 40px;
position:absolute;
bottom:0px;
  
  left:10px;
}	


.cc{
text-align:left;
width:290px;
height:250px;
position:absolute;
left:140px;
top:120px;


}



.bb{
text-align:left;
width:290px;
height:80px;
position:absolute;
left:140px;
top:5px;


}

.aa{
text-align:left;
width:200px;
height:50px;
position:absolute;
left:140px;
top:90px;



}

.zz{
text-align:left;
width:113px;
height:424px;
position:absolute;
left:8px;
top:4px;


}



#nn{
text-align:left;
width:298px;
height:50px;
position:absolute;
left:140px;
top:380px;


}




<!--<link rel="stylesheet" href="mokuji style.css"/>-->
