img{
width:350px;


}

a{

font-size:25px;

}

#top{

        position:fixed;
	width:100%;
	background-color:#FFFDD0;
  	top:0px;
  	left:7px;
  	


}


<!--<link rel="stylesheet" href="../fb.css">-->