

ul{
font-size:30px;
list-style: none;
}



.bb{
text-align:left;
width100%;
position:absolute;
left:0px;
top:0px;
background-color:;

}

<!--<link rel="stylesheet" href="mokuji style.css"/>-->


