#a1,
#a2,
#a3,
#a4{

	display:none;

}


img{
width:400px;

}

#main{

float: center;

}


a{

font-size:25px;


}


.bb{

width:500px;


}




#mm{


        position:fixed;
	width:450px;
	background-color:#FFFDD0;
  	top:0px;
  	right:0px;
  	

}





table{

width:400px;

border:3px #ffa874 solid;
padding:5px;
" rules="all"
 cellpadding='5';

}



#ff{

width:400px;
border:3px #ffa874 solid;
background-color:;



}





<!--<link rel="stylesheet" href="tessss.css">-->